<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.acuzio.mrta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="be.acuzio.mrta" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyBroadcastIntentService" />

        <activity
            android:name=".WidgetActivity"
            android:label="@string/title_activity_widget" />
        <activity
            android:name=".LocalBroadcastActivity"
            android:label="@string/title_activity_local_broadcast"></activity>
    </application>

</manifest>
